<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>440705772059-8j6fu0drtbvq15n4p2qo4bcqjle7m216.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.440705772059-8j6fu0drtbvq15n4p2qo4bcqjle7m216</string>
	<key>API_KEY</key>
	<string>AIzaSyA3EIaM8QbS3GtUvAbbFx-cAxqiXYKGpGc</string>
	<key>GCM_SENDER_ID</key>
	<string>440705772059</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.signify.signify</string>
	<key>PROJECT_ID</key>
	<string>signify-c2f52</string>
	<key>STORAGE_BUCKET</key>
	<string>signify-c2f52.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:440705772059:ios:c72c5d89d19a15dc8e26be</string>
</dict>
</plist>